<!-- COVER -->
<section id="cover">
    <div id="cover-caption">
        <div class="container-fluid">
            <div class="row">
                <div id="cover-text" class="col-sm-8 col-sm-offset-2">
                    <h1>Bill Hefty</h1>
                    <p class="lead">
                       Developing engaging and productive web solutions
                    </p>

                    <br>

                    <a href="#about" role="button" class="btn btn-primary outline btn-lg">&darr;</a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- NAVIGATION -->
<nav id="navigation" class="navbar navbar-inverse navbar-static-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#myNavbar" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="#cover" class="navbar-brand">Bill Hefty</a>
        </div>

        <div class="collapse navbar-collapse navbar-right" id="myNavbar">
            <ul class="nav navbar-nav">
                <li class="nav-item active"><a href="#about" class="nav-link">About<span class="sr-only">(current)</span></a></li>
                <li class="nav-item"><a href="#projects" class="nav-link">Projects</a></li>
                <li class="nav-item"><a href="#contact" class="nav-link">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>

<!-- ABOUT -->
<section id="about">
    <div class="feature-content">
        <div class="container">
            <div class="row">
                <div class="col-md-6 hidden-xs hidden-sm">
                    <img src="../images/bill-profile-pic.png" class="img-circle" alt="Picture of Bill">
                </div>

                <div class="col-md-5 col-md-offset-1">
                    <h2>About me</h2>
                    <p class="lead">
                        My name is Bill Hefty and I'm a Web Developer. I've had upwards of 5 years experience as an IT professional dealing in all aspects between desktop tech support to video network solutions. This portfolio page aims at keeping track of my progress as I continue my track on web development. Have a look around and feel free to contact me!
                    </p>

                    <h5>Connect with me</h5>
                    <a href="https://twitter.com/billhefty" target="_blank" class="btn btn-secondary btn-sm">twitter</a>
                    <a href="https://www.linkedin.com/in/bill-hefty-6b973689" target="_blank" class="btn btn-secondary btn-sm">linkedin</a>
                    <a href="https://github.com/bhefty" target="_blank" class="btn btn-secondary btn-sm">github</a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- PROJECTS -->
<section id="projects">
    <div class="feature-content feature-dark">
        <div class="container">
            <h2>Projects</h2>
            <p class="lead">
                Feel free to checkout some of my recent projects!
            </p>

            <div class="cards">
                <a href="https://github.com/bhefty/reactive-voting" target="_blank" class="card">
                    <span class="card-header" id="project-1">
                        <span class="card-title">
                            <h3>React Voting</h3>
                        </span>
                    </span>
                    <span class="card-summary">
                        A voting app built with MongoDB, Express, React, and Node. Complete with user authentication!
                    </span>
                    <span class="card-meta">
                        MongoDB - Express - React - Node
                    </span>
                </a>
                <a href="https://agile-island-30911.herokuapp.com/" target="_blank" class="card">
                    <span class="card-header" id="project-2">
                        <span class="card-title">
                            <h3>Recipe Box</h3>
                        </span>
                    </span>
                    <span class="card-summary">
                        A digital recipe box built with React that utilizes the browser's local storage to save state. Part of a FreeCodeCamp project.
                    </span>
                    <span class="card-meta">
                        React
                    </span>
                </a>
                <a href="https://github.com/bhefty/project_what_have_you_done" target="_blank" class="card">
                    <span class="card-header" id="project-3">
                        <span class="card-title">
                            <h3>Find-My-Rep</h3>
                        </span>
                    </span>
                    <span class="card-summary">
                        This project centered around the Sunlight Foundation API to retrieve information for your local congressmen and women.
                    </span>
                    <span class="card-meta">
                        Express - API
                    </span>
                </a>
                <a href="http://codepen.io/bhefty/full/MbawLa/" target="_blank" class="card">
                    <span class="card-header" id="project-4">
                        <span class="card-title">
                            <h3>Markdown Previewer</h3>
                        </span>
                    </span>
                    <span class="card-summary">
                        This app was created using ReactJS to showcase the benefits of the Virtual DOM. Enter your markdown text on the left and see it instantly compiled on the right.
                    </span>
                    <span class="card-meta">
                        React
                    </span>
                </a>
                <a href="https://github.com/bhefty/assignment_githuh" target="_blank" class="card">
                    <span class="card-header" id="project-5">
                        <span class="card-title">
                            <h3>Githuh?</h3>
                        </span>
                    </span>
                    <span class="card-summary">
                        CLI for retreiving information on Github user accounts. Part of the Viking Code School projects.
                    </span>
                    <span class="card-meta">
                        API - CLI
                    </span>
                </a>
                <a href="https://bhefty.github.io/simon-says/" target="_blank" class="card">
                    <span class="card-header" id="project-6">
                        <span class="card-title">
                            <h3>Simon Says Game</h3>
                        </span>
                    </span>
                    <span class="card-summary">
                        The classic game revisioned for web! Try to get all the way to round 20 to win. Make it a challenge by enabling 'Strict' mode. Complete with sounds and flashing lights.
                    </span>
                    <span class="card-meta">
                        jQuery
                    </span>
                </a>
            </div>
            
            <p class="lead more-link"><a href="https://github.com/bhefty" target="_blank">View more projects</a></p>
        </div>
    </div>
</section>

<!-- CONTACT -->
<section id="contact" class="feature-alt">
    <div class="container">
        <div class="row">
            <div class="feature-content">
                <div class="col-md-6 hidden-xs hidden-sm">
                    <img src="../images/ipad-email.png" alt="ipad">
                </div>
                <div class="col-md-5 col-md-offset-1">
                    <h2>Contact me</h2>
                    <p class="lead">Feel free to get in touch with me, I'd love to hear from you!</p>
                    <a href="mailto:billhefty@gmail.com" role="button" class="btn btn-primary btn-lg outline">E-mail me</a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- FOOTER -->
<footer id="main-footer">
    <div class="container">
        <p>
            Handmade by me &copy; 2017
        </p>
        <p>
            <a href="https://twitter.com/billhefty" target="_blank"><i class="fa fa-twitter custom-icon" aria-hidden="true"></i></a>
            <a href="https://www.linkedin.com/in/bill-hefty-6b973689" target="_blank"><i class="fa fa-linkedin custom-icon" aria-hidden="true"></i></a>
            <a href="https://github.com/bhefty" target="_blank"><i class="fa fa-github custom-icon" aria-hidden="true"></i></a>
            <a href="mailto:billhefty@gmail.com"><i class="fa fa-envelope custom-icon" aria-hidden="true"></i></a>
        </p>
    </div>
</footer>