html,
body {
  height: 100%; }

img {
  max-width: 100%; }

.navbar {
  margin-bottom: 0; }

.affix {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10; }
  .affix + section {
    padding-top: 50px; }

#project-pagination {
  margin: 0 auto; }

.btn {
  padding: 14px 24px;
  border: 0 none;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase; }

.btn:focus, .btn:active:focus, .btn.active:focus {
  outline: 0 none; }

.btn-primary {
  background: #0099cc;
  color: #ffffff; }

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
  background: #33a6cc; }

.btn-primary:active, .btn-primary.active {
  background: #007299;
  box-shadow: none; }

.btn.outline {
  background: none;
  padding: 12px 22px; }

.btn-primary.outline {
  border: 2px solid #0099cc;
  color: #0099cc; }

.btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active, .btn-primary.outline.active, .open > .dropdown-toggle.btn-primary {
  color: #33a6cc;
  border-color: #33a6cc; }

.btn-primary.outline:active, .btn-primary.outline.active {
  border-color: #007299;
  color: #007299;
  box-shadow: none; }

.feature-content {
  padding: 8rem 0;
  overflow: hidden; }
  .feature-content img {
    margin-bottom: -8rem; }

.feature-dark {
  background: #262f36;
  color: white; }
  .feature-dark h2 {
    color: white; }

.feature-alt {
  background: #f0f0f0; }

#cover {
  background: #222 url("../images/macbook-code.jpg") center center no-repeat;
  background-size: cover;
  color: white;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center; }

#cover-caption {
  width: 100%; }

#cover-text {
  background: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 1.875rem; }

#about img {
  margin-bottom: 3rem; }

#skills {
  text-align: center; }
  #skills img {
    max-height: 275px;
    background-color: #f0f0f0; }

#project-1 {
  background-image: url("../images/macbook-project-voting.png");
  background-size: cover; }

#project-2 {
  background-image: url("../images/programming.jpg"); }

#project-3 {
  background-image: url("../images/working.jpg"); }

.more-link {
  text-align: center; }
  .more-link a {
    text-decoration: none; }
    .more-link a:hover, .more-link a:focus {
      color: white;
      text-decoration: none; }

.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 15px;
  padding: 1.5%;
  box-sizing: border-box; }

.card {
  position: relative;
  margin-bottom: 20px;
  padding-bottom: 30px;
  background: #fefff9;
  color: #363636;
  text-decoration: none;
  box-shadow: rgba(0, 0, 0, 0.19) 0 0 8px 0;
  border-radius: 4px; }
  @media (max-width: 768px) {
    .card {
      width: 100%; } }
  @media (max-width: 768px) {
    .card {
      width: 100%; }
      .card:nth-child(n+4) {
        display: none; } }
  @media (min-width: 768px) {
    .card {
      max-width: 320px;
      margin-right: 20px;
      margin-bottom: 20px; }
      .card:nth-child(even) {
        margin-right: 0; } }
  @media (min-width: 980px) {
    .card:nth-child(even) {
      margin-right: 20px; } }
  .card span {
    display: block; }
  .card .card-summary {
    padding: 5% 5% 3% 5%; }
  .card .card-header {
    position: relative;
    height: 175px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: rgba(255, 255, 255, 0.15);
    background-blend-mode: overlay;
    border-radius: 4px 4px 0 0; }
    .card .card-header:hover, .card .card-header:focus {
      background-color: rgba(255, 255, 255, 0);
      text-decoration: none; }
  .card .card-title {
    background: rgba(26, 94, 99, 0.85);
    padding: 3.5% 0 2.5% 0;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    position: absolute;
    bottom: 0;
    width: 100%; }
    .card .card-title h3 {
      font-size: 1.2em;
      line-height: 1.2;
      padding: 0 3.5%;
      margin: 0; }
  .card .card-meta {
    max-height: 0;
    overflow: hidden;
    color: #666;
    font-size: 0.78em;
    text-transform: uppercase;
    position: absolute;
    bottom: 5%;
    padding: 0 5%;
    transition-property: max-height;
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out; }
  .card:hover, .card:focus {
    background: white;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 0px 20px 0px;
    text-decoration: none; }
    .card:hover .card-title, .card:focus .card-title {
      background: rgba(26, 94, 99, 0.95); }
    .card:hover .card-meta, .card:focus .card-meta {
      max-height: 1em; }

#contact ul {
  text-align: center; }
  #contact ul li {
    margin: 10px; }

#main-footer {
  text-align: center;
  background: #262f36;
  color: #ccc;
  font-size: 1.25rem;
  padding: 2.5rem 0; }
  #main-footer .custom-icon {
    background: #666;
    background: rgba(0, 0, 0, 0.4);
    padding: 5px;
    border-radius: 100%;
    border: 2px solid #fff;
    color: #fff;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.46);
    text-align: center;
    margin: 5px;
    width: 30px;
    height: 30px;
    transition: 0.5s; }
    #main-footer .custom-icon:hover {
      background: rgba(0, 0, 0, 0.6); }

/*# sourceMappingURL=style.css.map */
